<html>
    <head>
        <meta charset="UTF-8">
        <link href="css" rel="stylesheet"/>
		<script src="js"></script>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
        <title>{$page_title ? $page_title.' - ' : ''}commie2</title>
    </head>
    <body>
		{block content}{/block}
    </body>
</html>